In [ ]:
dbutils.widgets.text("t1_param", "default_value", "Notebook Parameter")
notebookpparam = dbutils.widgets.get("t1_param")

In [ ]:

print(notebookpparam)

update_param = notebookpparam + " updated_value"

In [ ]:
# Sample PySpark code to display a few records from a DataFrame

# Assuming SparkSession is already created as 'spark'
data = [("Alice", 34), ("Bob", 45), ("Cathy", 29)]
columns = ["Name", "Age"]

df = spark.createDataFrame(data, columns)
df.show()

In [ ]:
dbutils.jobs.taskValues.set("from_t1", update_param)